<html lang="ko">
<head>
<meta charset="UTF-8">
<title>NFT 판매 게시판에 온 것을 환영합니다!</title>
<style>
table {
    width: 700px;
    text-align: center;
    border: 1px solid #1d96b2;
    border-spacing: 1px;
    font-family: 'Cairo', sans-serif;
  margin: auto;
}

caption {
    font-weight: bold;
}

table td {
    padding: 10px;
   color: rgba(94, 93, 82, 0.75);
   border: 1px solid #1d96b2;
}

table th {
    
    color: #fff;
    padding: 10px;
	background-color: #1d96b2;
}

table tr.active {

	border: 1px solid #1d96b2;
}

img {
    width: 500px;
    height: 300px;
}

.view,
.delete {
    
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
}

.view {
    background-color: #03A9F4;
}

.delete {
    background-color: #E91E63;
}

.tablefoot {
    padding: 0;
    border-bottom: 3px solid #009688;
}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

        #test_btn1{
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            margin-right:-4px;
        }
        #test_btn2{
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;    
            margin-left:-3px;
        }
        #btn_group button{
            border: 1px solid skyblue;
            background-color: rgba(0,0,0,0);
            color: skyblue;
            padding: 5px;
        }
        #btn_group button:hover{
            color:white;
            background-color: skyblue;
        }



a{
  color:#00ff95;
}

.description, .link {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.description {
  font-size: 35px;
}


.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px; 
}
</style>
</head>
<body>
	 <div class="row" style="margin-bottom:20px; margin-left:1px;">
		<div class="col-lg-12">
			<h1 class="page-header" style="text-align:center">게시글 상세 페이지</h1>
		</div>
	</div>
<br>
	<div class="panel" style="margin-left:1px;">
		<div id="contAreaBox">
			<div class="panel">
				<div class="panel-body">
					<div class="table-responsive" style="text-align:center;">
						<table id="datatable-scroller" class="table table-bordered tbl_Form">
							<caption></caption>
						<colgroup>
							<col width="250px" />
						<col />
						</colgroup>
						<tbody>
							<tr>
								<th class="active" height = 30>제목</th>
								<td>
									{{board.title}}
								</td>
							</tr>

							<tr>
								<th class="active" height = 30>카테고리</th>
								<td>
									{{board.category}}
								</td>
							</tr>

							<tr>
								<th class="active" height = 100>내용</th>
								<td>
									{{board.content}}
								</td>
							</tr>
							<tr>
								<th class="active" height = 50>코인</th>
								<td>
									{{board.prize}}
								</td>
							</tr>
							<tr>
								<th class="active" height = 300>사진</th>
								<td>
									<img src="{{board.image}}"  alt="My Image"/>
								</td>
							</tr>
              	<tr>
								<th class="active" height = 50>판매자 주소</th>
								<td>
									{{board.address}}
								</td>
							</tr>
						</tbody>
			</table>
		
		</div>
</div>
			<br>
		
		</div>
</div>
	<div class="btn_group-2">
	
		  <button id="test_btn1" onclick="location.href='/boards/lists'">글 목록</button>
			<button id="test_btn2" onclick="location.href='/boards/update/{{board.id}}'">수정하기</button>
			<button  onclick="location.href='/boards/detail/buy/{{board.id}}'">구매하기</button>
			</div>
</body>
</html>
