<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>판매 게시판</title>
</head>
<body>
    <div id="board_write">
        <h1>판매 글 수정 페이지입니다.</h1>
            <div id="write_area">
                <form action="/boards/{{board.id}}?_method=patch" method="post" enctype="multipart/form-data">
                            
                  
                   
                    <div id="in_title">
                         <input type="text" name="title" id="title" value="{{board.title}}" />
                    </div>
 
                    <div class="wi_line"></div>
                    <div id="in_content">
                         <input type="text" name="content" id="content" value="{{board.content}}" />
                    </div>

                     <div id="in_content">
                         <input type="text" name="prize" id="prize" value="{{board.prize}}" />
                    </div>
 
                     <div id="in_content">
                           <input type="file" name="image" id="image" value="{{board.image}}" />
                    </div>
                     
 
 
                    <div class="bt_se">
                        <button type="submit">수정하기</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>