<html lang="ko">
<head>
<meta charset="UTF-8">
<title>NFT 판매 게시판에 온 것을 환영합니다!</title>
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
    	text-align: center;
}
table {
	width: 100%;
}
</style>
</head>
<body>
	 <div id="board_write">
        <h1>{{board.title}}</h1>
            <div id="write_area">
                <form action="/boards/" method="post" enctype="multipart/form-data">
                   
                        <textarea name="content" id="content" placeholder="내용" required></textarea>
                    </div>

                     <div id="in_content">
                        <textarea name="prize" id="content" placeholder="가격" required></textarea>
                    </div>
 
                     <div id="in_content">
                         <input type="file" name="image" />
                    </div>
                     
 
 
                    <div class="bt_se">
                        <button type="submit">수정하기</button>
                    </div>
                </form>
            </div>
        </div>
</body>
</html>
