<html lang="ko">
<head>
<meta charset="UTF-8">
<title>NFT 판매 게시판에 온 것을 환영합니다!</title>
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
    	text-align: center;
}
table {
	width: 100%;
}
</style>
</head>
<body>
	<h1>판매 게시판</h1>
    <hr><br>
	<table>
		<tr>
			<th>제목</th>
			<th>가격</th>
			<th>내용</th>
			<th>사진</th>
		</tr>  
        {% for board in boards %}
		<tr>
			<td>{{board.title}}</td>
			<td>{{board.content}}<a href=></a></td>
			<td>{{board.prize}}</td>
		</tr>
		 {% endfor %}
	</table>
	<br>
	<button onclick="location.href='write.do'">신규 등록</button>
</body>
</html>
