<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	  <div>
          <div>
            <div>
              <h1 style="text-align : center">NFT 판매 플랫폼 이용 가이드입니다.</h1>
              <br>

            </div>
        <p><h3>Kaikas 설치</h2></p>
          <p>
              Kaikas 지갑을 사용하기 위해서는 확장 프로그램을 필수로 설치하셔야합니다!
          <br>
              <a href="https://chrome.google.com/webstore/detail/kaikas/jblndlipeogpafnldhgmapagcccfchpi">설치페이지로 이동하기</a>
          </p>
        <hr/>
          <div>
          <p>  
            <h3>MY WALLET 연결하기</h3>
            <p>
              
            <button onclick="connect()">카이카스 지갑연결</button></p> 
            <p style="font-weight: bolder;">버튼을 클릭하시면 확장 프로그램이 실행되고 내 지갑 정보를 가져옵니다.</p>   </div> 
              </div>
          
            <p id="myWallet">지갑주소: 연결되지 않음</p>
            <p id="myKlay">잔액: 연결되지 않음</p>
              </div>
           
            <hr/>

          </p>
          <a href="https://scope.klaytn.com/" style="font-size: 10;">클래이튼 홈페이지</a><br>
      </div>
    </div>
	
	<script>
		document.addEventListener("DOMContentLoaded", async function (event) {
			const accounts = await klaytn.enable();
			if (!accounts) {
				alert("KaiKas 확장 프로그램을 활성화 해주세요!");
			}
			check_status();
		});
		
	</script>
</body>
{% block js %}
<script>
async function connect() {
  const accounts = await klaytn.enable();
  if (klaytn.networkVersion === 8217) {
      console.log("메인넷");
  } else if (klaytn.networkVersion === 1001) {
      console.log("테스트넷");
  } else {
      alert("ERROR: 클레이튼 네트워크로 연결되지 않았습니다!");
      return;
  }
  account = accounts[0];
  caver.klay.getBalance(account)
      .then(function (balance) {
          document.getElementById("myWallet").innerHTML = `지갑주소: ${account}`
          document.getElementById("myKlay").innerHTML = `잔액: ${caver.utils.fromPeb(balance, "KLAY")} KLAY`
      });
  await check_status();
}
</script>
	<script src="mintScript.js"  type="text/javascript">>
	<script src="test.js"  type="text/javascript">>
	<script src="config.js"  type="text/javascript">>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/8.0.2/bignumber.js" 
	integrity="sha512-XQDG6H87RgMf+aNFwDPCUcFwUf3t9liyqN/2BkJ8KGixupbjPwQHNhypNA972mLIkg4KPo4lkGmqAf3yfDz8hw==" 
	crossorigin="anonymous" referrerpolicy="no-referrer">
	</script>
	{% endblock %}
</html>