<html lang="ko">
<head>
<meta charset="UTF-8">
<title>NFT 판매 게시판에 온 것을 환영합니다!</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<style>
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
    	text-align: center;
}
table {
	width: 100%;
}
</style>
</head>
<body>
	<h1>로그인 페이지입니다.</h1>
    <br>
			<form action="/auth/loginPro" method="post">
				<input type="text" name="email" placeholder="E-mail을 입력해주세요." />
				<input type="password" name="password" placeholder="비밀번호를 입력해주세요." />
				<button type="submit">로그인</button>
                <a href="/auth/join">회원가입</a>
				
</body>
</html>
